.container {
  box-sizing: border-box;
  height: 100%;
  background-color: hsl(var(--theme-content5));
}

.search {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.content {
  padding: 0 10px;
}


