  .logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu{
  width: 100px;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-top: 15px;
  position: relative;
  border-right: 1px solid hsl(var(--theme-default-200));

  &::before{
    content: '';
    position: absolute;
    top: calc(0px - var(--head-height)); // 使用calc表达负数
    right: -1px;
    width: 1px;
    height: var(--head-height);
    background-color: hsl(var(--theme-default-200));
  }
}



.logoText {
  font-family: 'font-logo';
  font-weight: 600;
  letter-spacing: 0.1em;
}
