.container {
  box-sizing: border-box;
  height: 100%;
  background-color: hsl(var(--theme-content5));
  overflow: hidden;
}

.tabsContainer {
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  position: relative;
}
