.container {
  box-sizing: border-box;
  height: 100%;
  background-color: hsl(var(--theme-content5));
  border-radius: 12px;
  overflow: hidden;
  

}

.search {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.someClass {
  font-family: 'font-lxg', sans-serif; /* 使用 sans-serif 作为后备字体 */
}
