.container {
  box-sizing: border-box;
  height: 100%;
  background-color: hsl(var(--theme-content5));
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: hsl(var(--theme-primary-500));
}

.titleTip {
  font-size: 14px;
  margin-top: 10px;
}
.inputContainer {
  box-sizing: border-box;
  margin-top: 40px;
  width: 500px;
}

.subBtn {
  margin-top: 30px;
}

.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--theme-content5));
}

.autoContainer {
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
  background-color: hsl(var(--theme-content5));
}
.autoContent {
  box-sizing: border-box;
  border-radius: 10px;
  height: 100%;
  padding: 20px;
}
