.container {
  box-sizing: border-box;
  height: 100%;
  background-color: hsl(var(--theme-content5));
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: hsl(var(--theme-primary-500));
}

.titleTip {
  font-size: 14px;
  margin-top: 10px;
}
.inputContainer {
  box-sizing: border-box;
  margin-top: 40px;
  width: 500px;
}

.subBtn{
  margin-top: 30px;

}
